/* category */
/* blog listing */
.blog-meta {
  margin-bottom: 10px;
}
.blog-meta > span {
  margin-right: 15px;
  padding-right: 10px;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: inline-block;
}
.blog-meta .fa{
    padding-right: 5px;
    padding-left: 2px;
}

.homeblog-latest .blog-item .blog-meta .fa,
.secondary-blog .blog-item .blog-meta .fa{
	
}
.homeblog-latest .blog-item .blog-meta .blog-author .fa, 
.secondary-blog .blog-item .blog-meta .blog-author .fa {
    display: none;
}
.blog-meta > span:last-child{
 border: none;
 margin-right: 0px;
}
.blog-meta > span:last-child:before {
  display: none;
 
}
.blog-meta > span span {
  color: #000000;
}
.homeblog-wrapper{
margin: 0px -15px;
}
.homeblog-inner{
	position: relative;
	float: left;
    width: 100%;
}
.homeblog-inner li.blog-post{
	padding: 10px 15px 10px;
}
.leading-blog, .secondary-blog{ margin: 0 -15px }
.secondary-blog .blog-item{ 
	margin-bottom: 30px;
}

.blog-item {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.blog-item .blog-content-wrap {
    text-align: left;
    padding: 0px ;
}
.blog-item .title {
    font-weight: 600;
    text-transform: capitalize;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 0;

}


.Recnet-blog .secondary-blog{ margin: 0 -15px; }
.blog-image-meta{ position:relative; margin: 0px; overflow: hidden;}
.homeblog-latest .blog-item .blog-meta .blog-created, 
.secondary-blog .blog-item .blog-meta .blog-created,
.homeblog-latest .blog-item .blog-meta .blog-author, 
.secondary-blog .blog-item .blog-meta .blog-author {
    font-size: 12px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 400;
    float: left;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.homeblog-latest .blog-item .blog-meta .blog-author a, 
.secondary-blog .blog-item .blog-meta .blog-author a {
    color: #666666;
}
.homeblog-latest .blog-item .blog-meta .blog-hit,
.secondary-blog .blog-item .blog-meta .blog-hit {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 400;
  	color: #fff;
    float: right;
    margin:0;
    padding: 0;
}
.homeblog-latest .blog-item .blog-created, 
.secondary-blog .blog-item .blog-created{
    text-transform: uppercase;
    margin: 0px;
    padding: 11px 16px;
    color: #fff;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    bottom: auto;
    left: 0;
    right: auto;
    background: #fa9e05;
    font-weight: 500;
    opacity: 1;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}
.homeblog-latest .blog-item:hover .blog-created, .secondary-blog .blog-item:hover .blog-created {
    background: #416929;
    color: #ffffff;
}
.homeblog-latest .blog-item .blog-meta > span:last-child,
.secondary-blog .blog-item .blog-meta > span:last-child{

}
.blog-post .blog-item:hover .blog-meta,
.secondary-blog .blog-item:hover .blog-meta {
	opacity: 1;
    filter: alpha(opacity=100);
     -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    bottom: 0;
}
.blog-post .blog-item .title a:hover{color:#fa9e05;}
.blog-item .readmore{
	padding: 0px ;
}
.blog-item .readmore .btn{ 
    padding: 0px;
    text-transform: capitalize;
    color: #fa9e05;
    display: inherit;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}
.blog-item .readmore .btn:hover{ color: #416929; }
.blog-item .blog-content-wrap .readmore p {
  margin-bottom: 0;
  margin-top: 10px;
}
.blog-item .blog-content-wrap .readmore p .btn {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
}
.blog-item .blog-content-wrap .readmore p .btn:hover {
  border-color: #2fb5d2;
}
.blog-item .blog-content-wrap .blog-shortinfo {
    line-height: 22px;
    font-size: 12px;
    margin-top: 3px;
    color: #888888;
}

.blog-item .blog-content-wrap .blog-shortinfo .readmore{
	  color: #000;
    text-transform: capitalize;
    display: inline-block;
}
.homeblog-latest .blog-item .readmore a:after {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f101";
    height: 15px;
    width: 20px;
    cursor: pointer;
    display: inline-block;
    padding-left: 7px;
    display: none;
}
.blog-item .blog-content-wrap .blog-shortinfo .more {
  height: 0;
  padding: 0;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i {
  color: #888;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i:hover {
  color: #222;
}
.blog-item .blog-image {
    overflow: hidden;
	  padding: 0;
    margin-bottom: 15px;
  	position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.blog-detail {
  margin-bottom: 70px;
}
.blog-detail > div {
  margin-bottom: 30px;
}
.blog-detail .blog-image {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.blog-detail .blog-title {
  font-size: 22px;
  text-transform: capitalize;
  color: #222;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-detail .blog-description {
  text-align: justify;
  margin-bottom: 60px;
  font-size: 12px;
}
.blog-detail .social-share {
  display: inline-block;
  float: left;
}
.social-share .itemTwitterButton{
	width: 70px !important;
	margin-left: 0px;
}
.social-share .itemTwitterButton,
.social-share .itemFacebookButton,
.social-share .itemGooglePlusOneButton{
	margin-bottom: 5px;
    display: inline-block;
    width: 54px;
    overflow: hidden;
    font-size: 0;
	margin-right: 6px;
}
.blog-detail .extra-blogs {
  display: inline-block;
  width: 100%;
}
.blog-detail .extra-blogs h4{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
    font-size: 17px;
}
.blog-detail .extra-blogs ul{
	padding-left: 25px;
}
.blog-detail .extra-blogs ul li{
	list-style: disc;
	padding: 3px 0;
}
.blog-detail .blog-tags {
  display: inline-block;
  float: right;
}
.blog-detail .blog-tags a{ color: #444444; padding-right: 5px;  }
.blog-detail .blog-tags a:hover{ color: #fa9e05;  }
.social-heading{ margin-bottom: 10px; }
.social-heading b,
.blog-detail .blog-tags > span {
    font-size: 17px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #000;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span {
  color: #888;
  margin-left: 10px;
  font-weight: normal;
}
.blog-detail .blog-comment-block #blog-localengine .form-group {
  margin-bottom: 20px;
}
.blog-detail .blog-comment-block .btn-send {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  min-width: 110px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  font-weight: 600;
  float: right;
  border-radius: 3px;
}
.blog-detail .blog-comment-block .btn-send i {
  margin-right: 10px;
  font-weight: 800;
}
.blog-detail .blog-comment-block .btn-send:hover {
  background-color: #222;
}

.blog-comment-block h3{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
    font-size: 17px;
}
.blog-comment-block #comment-form{ margin-top: 30px; }
.comment-capcha-image{ margin-bottom: 10px; }
h1.blog-heading{
	font-size: 20px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}
.ps-carousel { display: none;     margin: 0;}
#blog-category{ margin-bottom: 30px; }
.subcategories-title{ margin-bottom: 30px; }
.secondary-blog .flexRow{ 
	clear: both;
    float: left;
}
.Recnet-blog .pagination{
	border-top: 0;
    padding: 0;
}
#blog-listing .pagination li,
.Recnet-blog .pagination li{ 
	background: #FFFFFF;
    display: inline-block;
    float: left;
    margin: 0 0 0 4px;
    padding: 0px;
}
.pagination li > span {
    height: 35px;
    margin: 0;
    padding: 4px 13px;
    width: 35px;
    color: #ffffff;
    background: #416929;
    display: block;
    font-weight: 500;
    border: 1px solid #416929;
        border-radius: 3px;
}
.pagination li:hover > span,
.pagination li.current > span{
	color: #FFFFFF;
    border-color: #fa9e05;
    background-color: #fa9e05;
    text-decoration: none;
}
.ps_sortPagiBar{ clear: both; }
.bottom-line{ padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #ddd; }
.bottom-line .pagination{ width: auto; float: left; margin: 0px; border: 0; padding: 0; }

.blog-image .blogicons{
	bottom: 0;
    height: 51px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
    width: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.blog-post .blog-item:hover .blog-image .blogicons,
.secondary-blog .blog-item:hover .blog-image .blogicons,
.leading-blog  .blog-item:hover .blog-image .blogicons {
	opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blog-image .blogicons a{
	width: 45px;
	height: 40px;
	display: inline-block;
	float: none;
}
.blog-image .blogicons .icon:before{
	font-family: "FontAwesome";	
    border: 2px solid #ffffff;
    background: none;
    bottom: 0;
    color: #ffffff;
    font-size: 14px;
    height: 40px;
    margin: auto;
    right: 50%;
    padding: 12px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
    width: 45px;
	line-height: 14px;
   -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.blog-image .blogicons .icon:hover:before{
	-webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-color: #fa9e05;
    color: #fff;
    background: #fa9e05;
}
.blog-image .blogicons .icon.zoom:before{
    content: "\f002";
	left: 0px;
}
.blog-image .blogicons .icon.readmore_link:before{	
    content: "\f0c1";
	right: 0px;
}

.blog-item .blog-image .post-image-hover {
    height: 100%;
    left: 0;
    top: 0px;
    position: absolute;
    -webkit-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
    width: 100%;
}
.blog-post .blog-item:hover .blog-image .post-image-hover,
.secondary-blog .blog-item:hover .blog-image .post-image-hover,
.leading-blog .blog-item:hover .blog-image .post-image-hover{    
	background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blog-item .blog-image img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog-item:hover .blog-image img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.leading-blog  .blog-meta{ margin-bottom: 0px; }
.homeblog-latest { 
	  padding-top: 25px;
    clear: both;
    text-align: center;
    padding-bottom: 0;
    float: left;
    width: 100%;
}
.blog-post .blog-item:hover  ,
.secondary-blog .blog-item:hover {

}
.blog-post .blog-item:hover .blog-meta,
.secondary-blog .blog-item:hover .blog-meta{
 
}
.blog-post .blog-item:hover .blog-meta span,
.secondary-blog .blog-item:hover .blog-meta span{
}
.category-title {
    padding: 20px 0 7px;
    text-transform: capitalize;
    font-weight: 600;
}
.category-title a {
    color: #000000;
    font-size: 16px;
}
.category-title a:hover {
	color: #fa9e05;
}
#blogpage .blog-detail .blog-title{
	margin-bottom: 25px;
}
#blogpage .blog-detail .blog-title,
.category-info h1,
.Recent-title.h3,
.subcategories-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    padding: 0 0;
    margin: 5px 0 20px;
    color: #000;
    text-transform: capitalize;
}
#blogpage .blog-detail .blog-image{
	padding-bottom:0px;
}
#blogpage .blog-detail .blog-image-meta {
    position: relative;
    margin: 0 0 25px;
}
#blogpage .blog-detail .blog-meta{
	position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.41);
    margin-bottom: 0;
	padding: 10px 20px 0;
    line-height: 32px;
	color: #fff;
	width: 100%;
}
#blogpage .blog-detail .blog-meta a:hover{
	text-decoration: underline;
}
#blogpage .blog-detail .blog-meta a,
#blogpage .blog-detail .blog-meta > span span,
#blogpage .blog-detail .blog-meta > span{
	border: 0px;
	color: #fff;
}
#blog-listing h1 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
/*.secondary-blog{ margin: 0 -15px; } */
#categories_blog_menu ul li{ line-height: 30px; }

@media (max-width: 1199px) {
  .blog-item .title {
      letter-spacing: 0;
  }
  .homeblog-latest .blog-item .blog-created, .secondary-blog .blog-item .blog-created {
      padding: 10px 10px;
  }
  .blog-item .blog-content-wrap .blog-shortinfo {
    letter-spacing: 0;
}
}
@media (max-width: 991px) {
	.homeblog-latest{ 
		padding-top: 30px; 
	}
	.category-info h1 {
		margin-top: 15px;
	}
	.blog-item { margin-bottom: 15px; }
}
@media (max-width: 767px) {

}
@media (max-width: 480px) {
	.blog-item .blog-content-wrap { padding: 0px; }
}
